div{
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}
section{
  width: 100px;
  border-radius: 10px;
  box-shadow: -14px 11px 38px -2px rgba(0,0,0,0.64);
  -webkit-box-shadow: -14px 11px 38px -2px rgba(0,0,0,0.64);
  -moz-box-shadow: -14px 11px 38px -2px rgba(0,0,0,0.64);
}
img{
  width: auto;
}

section.is-fire{
  background-color: rgb(193, 10, 10);
}
section.is-water{
  background-color: rgb(53, 132, 235);
}